duckduckgo-search
fastapi
grpcio
httpx
jiter
langchain-core
langchain-community
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-groq
langchain-aws
langchain-ollama
langgraph
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
langgraph-supervisor
langsmith
numexpr
numpy
pandas
psycopg[binary, pool]
pyarrow
pydantic
pydantic-settings
pyowm
python-dotenv
setuptools
streamlit
tiktoken
uvicorn
azure-devops
httpx
pydantic
python-dotenv
streamlit
flask==2.3.3
flask-socketio==5.3.6
python-socketio==5.9.0
python-engineio==4.7.1
requests==2.31.0